# Node
node_modules/
dist/
.vite/
*.log

# Backend uploads & build
backend/uploads/
backend/dist/

# Hardhat
artifacts/
cache/
typechain-types/
smart_contract/deployments/

# Env files (NEVER commit secrets)
.env
.env.local
.env.production

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
